<div class="banner" style="background-image: url('<%= asset_url "Drinking.jpeg" %>');">
  <div class="banner-content">
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div id="cocktail-<%= cocktail.id %>" class="hover card">
          <div class="front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category"><%= cocktail.name %></div>
            <div class="card-description">
            </div>
          </div>
          <div class="back" style="background-color: #FFFFFF;">
            <a><%= link_to 'Show', cocktail %></a>
            <ul class="doses">
              <% cocktail.doses.each do |dose| %>
                <li><%= dose.description %> <%= dose.ingredient.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'New Cocktail', new_cocktail_path %>